* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    color: #F1F1F1;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    border-bottom: 1px solid #1F1F1F;
}

.logo {
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav li {
    cursor: pointer;
    font-weight: 300;
    transition: 0.3s;
}

nav li:hover {
    color: #FF4D00;
}

/* TITLE */

.shop-title {
    text-align: center;
    padding: 80px 20px;
}

.shop-title h1 {
    font-size: 36px;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.shop-title p {
    color: #8A8A8A;
}

/* PRODUCT GRID */

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0 80px 100px 80px;
}

/* PRODUCT CARD */

.product-card {
    transition: transform 0.3s ease;

}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.03);
}

.product-info {
    margin-top: 20px;
}

.product-info h2 { 
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.price {
    color: #8A8A8A;
    margin-bottom: 15px;
}

button {
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #F1F1F1;
    color: #F1F1F1;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    letter-spacing: 2px;
}

button:hover {
    background-color: #FF4D00;
    border-color: #FF4D00;
}

/* FOOTER */

footer {
    border-top: 1px solid #1F1F1F;
    padding: 30px;
    text-align: center;
    font-size: 12px;
    color: #8A8A8A;
}

/* PRODUCT PAGE */

.product-page {
    display: flex;
    gap: 80px;
    padding: 80px;
}

.product-images {
    flex: 1;
}

.product-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.product-images img:hover {
    transform: scale(1.03);
}

.thumbs {
    display: flex;
    gap: 15px;
}

.thumbs img {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease;
}

.thumbs img:hover {
    transform: scale(1.05);
    border: 1px solid #FF4D00;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-details h1 {
    font-size: 32px;
    letter-spacing: 4px;
}

.price {
    color: #8A8A8A;
    font-size: 18px;
}

.description {
    color: #F1F1F1;
    font-size: 14px;
    line-height: 1.5;
}

label {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

select, input[type="number"] {
    padding: 8px 12px;
    margin-top: 5px;
    background-color: #1F1F1F;
    color: #F1F1F1;
    border: 1px solid #8A8A8A;
    font-size: 14px;
}

.add-to-cart {
    width: 150px;
    margin-top: 20px;
    padding: 12px 0;
    border: 1px solid #F1F1F1;
    background: transparent;
    color: #F1F1F1;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: #FF4D00;
    border-color: #FF4D00;
}


/* CART PAGE */

.cart-title {
    text-align: center;
    padding: 60px 20px;
}

.cart-title h1 {
    font-size: 36px;
    letter-spacing: 4px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 80px;
}

.cart-item {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #1F1F1F;
    padding-bottom: 20px;
}

.cart-item img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-info h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.cart-info p {
    font-size: 14px;
    color: #8A8A8A;
}

.remove-btn {
    width: 100px;
    padding: 8px 10px;
    border: 1px solid #F1F1F1;
    background: transparent;
    color: #F1F1F1;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.remove-btn:hover {
    background-color: #FF4D00;
    border-color: #FF4D00;
}

.cart-summary {
    text-align: right;
    padding: 40px 80px;
}

.cart-summary h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.checkout-btn {
    padding: 12px 35px;
    border: 1px solid #F1F1F1;
    background: transparent;
    color: #F1F1F1;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.checkout-btn:hover {
    background-color: #FF4D00;
    border-color: #FF4D00;
}

